# Virtual environment
venv/
vehiclevenv/
.env/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Logs
logs/*.log

# OS files
.DS_Store
Thumbs.db